<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/create_user">Create User</a>
    </div>

    <form class="add-user" action="/create_user" method="POST">
        <fieldset>
            <legend>ADD USER:</legend>
            <label for="fname">Email:</label>
            <input class="input-group" type="email" name="email"><br><br>
            <label for="lname">Name:</label>
            <input class="input-group" type="text" name="user_name"><br><br>
            <label for="email">City:</label>
            <input class="input-group" type="text" name="city"><br><br>

            <div>
                <button class="confirm-button">ADD</button>
            </div>
        </fieldset>
    </form>
</body>

</html>