<!DOCTYPE html>
<html>
<head>
    <title>Update Nhan vien moi</title>
</head>
<body>
    <h1>Update Nhan vien moi</h1>
    <form method="post" action="/nhanvien/update">
        Ma NV: <input type="text" name="ma_nv"><br>
        Ho: <input type="text" name="ho"><br>
        Ten Lot: <input type="text" name="lot"><br>
        Ten: <input type="text" name="ten"><br>
        Ngay sinh: <input type="text" name="ngay_sinh"><br>
        Dia chi: <input type="text" name="dia_chi"><br>
        Gioi tinh: <input type="text" name="gioi_tinh"><br>
        Luong: <input type="text" name="luong"><br>
        Ma NQL: <input type="text" name="ma_nql"><br>
        Phong: <input type="text" name="ma_phong"><br>

        <input type="submit" value="update nhan vien">
    </form>
</body>
</html>