<!DOCTYPE html>
<html>
<head>
    <title>Update De an</title>
</head>
<body>
    <h1>Update De an</h1>
    <form method="post" action="/dean/update">
        <label for="ma_de_an">Ma De An:</label>
        <input type="text" name="ma_de_an" id="ma_de_an" required><br>
        
        <!-- Dữ liệu cần chỉnh sửa -->
        <label for="ten_de_an">Ten de an moi:</label>
        <input type="text" name="ten_de_an" id="ten_de_an" required><br>
        
        <label for="dia_diem">Dia diem:</label>
        <input type="text" name="dia_diem" id="dia_diem" required><br>

        <label for="phong">Phong:</label>
        <input type="text" name="phong" id="phong" required><br>
        
        <button type="submit">Lưu chỉnh sửa</button><br>
    </form>
</body>
</html>