<!DOCTYPE html>
<html>
<head>
    <title>Update Cong Viec</title>
</head>
<body>
    <h1>Update Cong viec</h1>
    <form method="post" action="/congviec/update">
        <label for="ma_de_an">Ma De An:</label>
        <input type="text" name="ma_de_an" id="ma_de_an" required><br>
        
        <!-- Dữ liệu cần chỉnh sửa -->
        <label for="stt">So thu tu moi:</label>
        <input type="text" name="stt" id="stt" required><br>
        
        <label for="ten_cong_viec">Ten cong viec moi:</label>
        <input type="text" name="ten_cong_viec" id="ten_cong_viec" required><br>
        
        <button type="submit">Lưu chỉnh sửa</button><br>
    </form>
</body>
</html>